// 默认样式重置
@import './reset.css'
// 引入变量
@import './variable.styl'
// 预设字体
@import './font.styl'
// 浏览器适配方法
// @import './vendor.styl'
// @import './global.styl'
// @import './icon.styl'
// @import './component.styl'
// @import './animation.styl'
// @import './domain.styl'
